# Those files owned by Visual Studio Code
/.vscode

# The photos to be processed
/photos/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm
