<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Edit Photo</title>
    <link rel="icon" type="image/png" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/thirdparty/markercluster.css" />
    <link rel="stylesheet" href="app.css" />

    <script type="module" src="/components/ph-form.js"></script>
    <script type="module" src="/components/ph-previous-next.js"></script>
    <script type="module" src="/components/ph-messages.js"></script>
    <script type="module" src="/components/ph-keywords.js"></script>
    <script type="module" src="/components/ph-my-keywords.js"></script>
    <script type="module" src="/components/ph-keyword.js"></script>
    <script type="module" src="/components/ph-keyword-add.js"></script>
</head>

<body>
    <span id="heading" ><a href="/" style="text-decoration: none;">&lt;&nbsp;</a>Edit Photo</span>
    <div id="thumb-link" class="thumb-image-container">
         <img class="thumb-img"></img>
    </div>
    <div id="mapEdit"></div>
    <div class="ph-photo-form-container">
        <ph-photo-form></ph-photo-form>
        <ph-keywords></ph-keywords>
    </div>
    <ph-messages id="messages" type="info" value="Annotate image, generate thumbnail" duration="12"></ph-messages>

    <img id="thumbs-size-image" style="width:100%"></img>
    <a target="photos-photo" id="full-size-image-link">
        <img id="full-size-image" class="hide-image" style="width:100%"></img>
    </a>
    <ph-previous-next></ph-previous-next>

    <script>
        let data = <%- data %>;
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="anonymous"></script>

    <script src="/lib/latlon.js"></script>
    <script type="module" src="app.js"></script>
</body>

</html>
