#mapId {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

#controls {
    position: fixed;
    left: 10px;
    top: 85px;
    width: 205px;
    background-color: white;
    border: 2px solid rgb(0,0,0,0.2);
    background-clip: padding-box;
    border-radius: 4px;
    z-index: 10;
}

#messages {
    position: fixed;
    left: 60px;
    top: 10px;
    width: 500px;
    z-index: 10;
}

#thumb-link {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  z-index: 30;
}

.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.place-bottom {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.marker-cluster-viewing  span {
  font-weight: bold;
  font-size: 120%;
}
