body {
  margin: 0;
}

#mapId {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}


#messages {
    position: fixed;
    left: 60px;
    top: 10px;
    width: 500px;
    z-index: 10;
}

#thumb-link {
  position: fixed;
  top: 45px;
  right: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  z-index: 30;
}

.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.place-bottom {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.marker-cluster-viewing  span {
  font-weight: bold;
  font-size: 120%;
}

#add-image {
  position: fixed;
  bottom: 0px;
  left: 18%;
  z-index: 100;
}

#controls {
   position: fixed;
   left: 5px;
   bottom: 20px;
   width: 205px;
   background-color: white;
   border: 2px solid rgb(0,0,0,0.2);
   background-clip: padding-box;
   border-radius: 4px;
   z-index: 10;
}

ph-graph {
   z-index: 90;
   position: fixed;
   bottom: 20px;
   right:0;
   height: 176px;
   left: 210px;
}
